@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



body {
    color : #614124;
    background: #614124 url('../assets/back3.jpeg') no-repeat center center;
    background-size: cover; 
    font-family: 'Press Start 2P', cursive;
    align-content: center;
    margin: 0;

}

header h1 {
    text-align: center; 
    background-color: #E8C07D;
    opacity: 0.8;
    padding: 25px;
    font-size: 50px;
    align-content: center;
}
main section {
    display: flex;
    flex-direction: column;
}
h2 {
    text-align: center; 
    background-color: #E8C07D;
    opacity: 0.8;
    padding: 25px;
    font-size: 30px;
}
header > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}
header > div > div {
    font-size: 15px;
    background-color: #9FC088;
    opacity: 0.7;
    text-align: center;
    padding: 15px 5px;
    border-radius: 15px;
    margin: 20px 50px;
}

.cards { 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
main section div > div { 
    margin: 10px;  
}

.cards label, .status label{ 
    background-color: #CC704B;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 25px;
    border: 12px groove #614124;
    border-radius: 20px;

}

#CHOOSE_ATTACK div {
    background-color:#9FC088 ;
    margin: 20px 50px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;  

}
.status {
    display: grid;
    grid-template-columns: 50% 50%;

}

.status > div img {
    width: 20px;
    align-items: center;
}

button {
    background-color:#E8C07D;
    padding: 5px 50px 5px 50px;
    border: 5px outset #614124;
    border-radius: 7px;
    font-family: 'Press Start 2P', cursive;
}


@media (max-width: 380px){
    .cards { 
        flex-direction: column;

    }
